body {
  font-family: YuMincho, 'Yu Mincho';
  padding: 8px
}
ol.one {
  list-style-type: cjk-ideographic;
}
ol.two {
  list-style-type: katakana-iroha;
}
ol.three {
  list-style-type: katakana;
}
ol.four {
  list-style-type: hiragana-iroha;
}
ol.five {
  list-style-type: hiragana;
}
ol.six {
  list-style-type: upper-roman;
}
ol.seven {
  list-style-type: lower-roman;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
li a.nav {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: Gold;
  background-color: #80bfff;
}
li a:hover.nav {
  color: #80bfff;
  background-color: Gold;
  text-decoration: underline;
  font-weight: bolder;
}
.例の箱 {
  border: 1px solid black;
  background-color: #e6e6e6;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  display: inline-block;
  height: auto;
  vertical-align: text-top;
  margin-bottom: 7px;
}
.例の箱2 {
  border: 1px solid black;
  background-color: #e6e6e6;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  display: inline-block;
  height: auto;
  vertical-align: baseline;
  margin-bottom: 7px;
}
@media (prefers-color-scheme: dark) {
  .例の箱 {
    border: 1px solid white;
    background-color: #3399ff;
  }
  .定義箱 {
    background-color: #100aaa;
  }
  .要約 {
    border: 1px solid white;
    background-color: #00aa00;
  }
}
.定義箱 {
  background-color: #e6e6e6;
  white-space: nowrap;
}
.要約 {
  border: 1px solid black;
  background-color: ivory;
  width: auto;
  padding-lefft: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  display: inline-block;
  height: auto;
  vertical-align: text-top;
  margin-bottom: 7px;
}
div.navbox {
  float: right;
  border: 1px solid black;
  color: Gold;
  background-color: #80bfff;
  display: inline-block;
  position: fixed;
  right: 8px;
  height: auto;
  max-height: 70%;
  margin-left: 10px;
  margin-top: 36px;
  overflow: auto;
}
img {
  max-width: 50%;
  height: auto;
  cursor: zoom-in;
  margin-top: 15px;
  margin-bottom: 15px;
}
img:active {
  max-width: 100%;
  height: auto;
  cursor: zoom-out;
}
:root {
  color-scheme: light dark;
}
#navbar {
  background-color: #3399ff;
  position: fixed; /* Make it stick/fixed */
  width: 100%;
  top: 0;
  display: inline-block;
  transition: top 0.3s; /* Transition effect when sliding */
  z-index: 100;
}
/* Stylising the links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
#navbar a:hover{
  background-color: #00aa00;
}
#navbar a.active {
  background-color: #80bfff;
  color: Gold;
}
table.glossry {
  border: 1px solid black;
  line-height: 1.5;
  width: 98%;
}
.gloh {
  background-color: LimeGreen;
}
.glo {
  padding: 3px;
  vertical-align: top;
}
.glo1 {
  background-color: #f1f1f1f1;
}
.glo2 {
  background-color: #fff;
}
.glox {
  padding: 3px;
  text-align: center;
  min-width: 5em;
  vertical-align: top;
}
.gloi {
  padding: 3px;
  text-align: center;
  vertical-align: top;
}
.glor {
  padding: 3px;
  max-width: 17em;
  veritcal-align: top;
}
