body {
  font-family: YuMincho, 'Yu Mincho';
  padding: 8px
}
ol.one {
  list-style-type: cjk-ideographic;
}
ol.two {
  list-style-type: katakana-iroha;
}
ol.three {
  list-style-type: katakana;
}
ol.four {
  list-style-type: hiragana-iroha;
}
ol.five {
  list-style-type: hiragana;
}
ol.six {
  list-style-type: upper-roman;
}
ol.seven {
  list-style-type: lower-roman;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
li a.nav {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: Gold;
  background-color: #80bfff;
}
li a:hover.nav {
  color: #80bfff;
  background-color: Gold;
  text-decoration: underline;
  font-weight: bolder;
}
.例の箱 {
  border: 1px solid black;
  background-color: #e6e6e6;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  display: inline-block;
  height: auto;
  vertical-align: text-top;
  margin-bottom: 7px;
}
.例の箱2 {
  border: 1px solid black;
  background-color: #e6e6e6;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  display: inline-block;
  height: auto;
  vertical-align: baseline;
  margin-bottom: 7px;
}
@media (prefers-color-scheme: dark) {
  .例の箱 {
    border: 1px solid white;
    background-color: #3399ff;
  }
  .定義箱 {
    background-color: #100aaa;
  }
  .要約 {
    border: 1px solid white;
    background-color: #00aa00;
  }
}
.定義箱 {
  background-color: #e6e6e6;
  white-space: nowrap;
}
.要約 {
  border: 1px solid black;
  background-color: ivory;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  display: inline-block;
  height: auto;
  vertical-align: text-top;
  margin-bottom: 7px;
}
div.navbox {
  float: right;
  border: 1px solid black;
  color: Gold;
  background-color: #80bfff;
  display: inline-block;
  position: fixed;
  right: 8px;
  height: auto;
  max-height: 70%;
  margin-left: 10px;
  margin-top: 36px;
  overflow: auto;
}
img {
  max-width: 50%;
  height: auto;
  cursor: zoom-in;
  margin-top: 15px;
  margin-bottom: 15px;
}
img:active {
  max-width: 100%;
  height: auto;
  cursor: zoom-out;
}
:root {
  color-scheme: light dark;
}
#navbar {
  background-color: #3399ff;
  position: fixed; /* Make it stick/fixed */
  width: 100%;
  top: 0;
  display: inline-block;
  transition: top 0.3s; /* Transition effect when sliding */
  z-index: 100;
}
/* Stylising the links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
#navbar a:hover{
  background-color: #00aa00;
}
#navbar a.active {
  background-color: #80bfff;
  color: Gold;
}
table.glossry {
  border: 1px solid black;
  line-height: 1.5;
  width: 98%;
}
.gloh {
  background-color: LimeGreen;
}
.glo {
  padding: 3px;
  vertical-align: top;
}
.glo1 {
  background-color: #f1f1f1f1;
}
.glo2 {
  background-color: #fff;
}
.glox {
  padding: 3px;
  text-align: center;
  min-width: 5em;
  vertical-align: top;
}
.gloi {
  padding: 3px;
  text-align: center;
  vertical-align: top;
}
.glor {
  padding: 3px;
  max-width: 17em;
  veritcal-align: top;
}
.red {
  color: red;
}
.green {
  color: green;
}
.limegreen {
  color: LimeGreen;
}
.limebox {
  border: 1px solid LimeGreen;
  padding: 5px;
  margin-top: 3px;
}
.bluebox {
  border: 2px solid rgb(0,52,144);
  padding: 5px;
  margin-top: 3px;
}
span.istrikeu {
  color: red;
  font-weight: normal;
}
s.istrike {
  text-decoration: line-through underline overline;
  color: rgb(256,159,81);
  font-weight: bold;
}
.yes {
  color: LimeGreen;
  font-weight: bolder;
  /* 「&#9678;」か「&#25CE;」か用いる 、、じゃなくて、「&#9673;」を用いれ */
}
.wrong {
  color: red;
  font-weight: bolder;
}
/* 「&#10060;」ですが、それが駄目なら「&#10007;」を使おう、、じゃなくて、「&#10006;」を用いれ。 */
table.conj {
  border: 1px solid black;
  line-height: 1.5;
  width: 70%
}
table.conj th {
  padding: 3px;
  text-align: center;
}
table.conj tbody tr:nth-child(2n+1) {
 background-color: #f1f1f1f1;
}
table.conj tbody td {
  padding: 3px;
  /*vertical-align: top;*/
}
.exampleblue {
  color: rgb(0,190,253)
}
.explanationblue {
  color: rgb(0,52,144)
}
.conjs {
  border-bottom: 0.8px solid black;
}
.fn:visited {
  color: inherit;
}
.larrhk {
  color: initial;
  text-decoration: none;
}
.larrhk:hover {
  text-decoration: underline;
}
/*&larrhk;*/

/* How to make arrow:
&emsp;&emsp;&emsp;<b class="long-arrow"></b>&emsp;&emsp;&emsp; */
.long-arrow {
  display: inline-block;
  -webkit-transform: scale(5,3);
  -moz-transform: scale(5,3);
  -o-transform: scale(5,3);
  transform: scale(5,3);
}
.h {
  background-color: #FFFF00
}
.bh {
  background-color: rgba(0,197,255,.178);
}
.ph {
  background-color: rgba(171,54,255,.178);
}
.gh {
  background: rgba(0,255,0,.178);
}
.ghb { /* the "b" stands for 'box', so together, "ghb" stands for 'green highlight & box' */
  background: rgba(0,255,0,.178);
  border: 1px solid limegreen;
}
.orange {
  color: rgb(255,139,0)
}
